<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wfa_hobby.Properties.Settings.maConnectionString"
            connectionString="Data Source=bd-tinfo;Initial Catalog=PMV_hobby;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
</configuration>